@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --bg-black: #000000;
  --bg-gray: #313131;
  --text-primary: #ffffff;
  --text-secondary: #999999;
  --yellow: #FFDC61;
  --red: #FF004D;
  --green: #00FF85;
  --purple: #A35BFF;
  /* Gradients */
  --bg-gradient: linear-gradient(#313131, #000000);
  --yellow-gradient: linear-gradient(#FFDC61, #C79B00);
  --red-gradient: linear-gradient(#FF004D, #860028);
  --green-gradient: linear-gradient(#00FF85, #008243);
  --purple-gradient: linear-gradient(#A35BFF, #430098);
}

/* Base configuration */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Background */
body {
  background: var(--bg-gradient);
  color: var(--text-primary);
  height: 100dvh;
  width: 100dvw;
}