:root {
  /* Colors */
  --bg-black: #000000;
  --bg-gray: #313131;
  --text-primary: #ffffff;
  --text-secondary: #999999;
  --yellow: #FFDC61;
  --red: #FF004D;
  --green: #00FF85;
  --purple: #A35BFF;
  /* Gradients */
  --bg-gradient: linear-gradient(180deg, #000000 0%, #313131 100%);
  --yellow-gradient: linear-gradient(180deg, #C79B00 0%, #FFDC61 100%);
  --red-gradient: linear-gradient(180deg, #860028 0%, #FF004D 100%);
  --green-gradient: linear-gradient(180deg, #008243 0%, #00FF85 100%);
  --purple-gradient: linear-gradient(180deg, #430098 0%, #A35BFF 100%);
}
